$global-colors: (
  --brown: #ff846c,
  --blue: #36cfff,
  --violet: #bd86dd,
  --yellow: #ffd266,
  --darkblue: #15294b,

  --primary-dark-color: var(--darkblue),
  --primary-light-color: #f5f8fa,
);
